window{
background-color:transparent;
border-radius:15px;
}
#outer-box{
border:1px solid #fbf1c7;
background:#3c3836;
border-radius:15px;
}
#scroll{
margin:9px;
}
#text{
color: #fbf1c7 ;
}
#input{
margin:5px;
border:none;
border-radius:15px;
background:#282828 ;
}
#entry:selected{
background-color: #458588 ;
}
#entry{
margin:5px;
}
